.contact{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.contact>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.contact a{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contact img{
    width: 100px;
    height: auto;
}