@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    background-color: black;
    font-family: "Inter", serif;
    --background_color-black: black;
    --color-white: white;
    color: var(--color-white);
}

a{
    text-decoration: none;
}

section{
    width: 100dvw;
    height: 100vh;
    display: flex;
}