.AboutMe{
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 50px;
}
.AboutMe>h1{
    text-align: center;
}

.AboutMe img{
    min-width: 100px;
    max-width: 250px;
    height: auto;
    border-radius: 15px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.container>div{ 
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.container>div:last-child{
    flex-direction: column;
    gap: 50px;
}
.container>div:last-child>p{
    min-width: 200px;
    max-width: 400px;
    margin: 0 30px;
}
.container>div:last-child>a{
    background-color: azure;
    color: rgba(0, 0, 0, 0.842);
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;  
}